<section>
  @if (products.length) {
  <app-main-header [title]="isPopularHeader ? 'Popular Products' : 'All Products'" />

  <input placeholder="search" type="text"
    class="mt-2 mb-8 p-2 rounded-lg w-full sm:w-3/4 block mx-auto border outline-primary border-primary placeholder:text-gray-500"
    name="search" [(ngModel)]="search">

  <app-responsive>
    @for(product of products.slice(0, sliceTo)| filter:search; track product._id) {
    <app-product-card [product]="product" [loggedWishlistProductsId]="wishlistProductsId"
      (addToCart)="onAddToCart($event)" />
    }
  </app-responsive>
  }
</section>
