<section class="form">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <app-input label="email" type="email" [control]="loginForm.get('email')" />
    <app-input label="password" type="password" [control]="loginForm.get('password')" />

    <a class="-translate-y-2 text-primary-light block w-fit font-semibold hover:underline"
      routerLink="/forgot-password">Forgot
      Your
      Password?</a>

    <app-button [isLoading]="isLoading">
      Login
    </app-button>
  </form>
</section>
