<owl-carousel-o [options]="mainSliderOptions">
  <ng-template carouselSlide>
    <img src="/slider1.avif" alt="slider">
  </ng-template>
  <ng-template carouselSlide>
    <img src="/slider2.avif" alt="slider">
  </ng-template>
  <ng-template carouselSlide>
    <img src="/slider3.avif" alt="slider">
  </ng-template>
</owl-carousel-o>


<!-- <owl-carousel-o [options]="mainSliderOptions">
  <ng-template carouselSlide>
    <div class="rounded-lg overflow-hidden">
      <img src="/slider1.avif" alt="slider">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="rounded-lg overflow-hidden">
      <img src="/slider2.avif" alt="slider">
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="rounded-lg overflow-hidden">
      <img src="/slider3.avif" alt="slider">
    </div>
  </ng-template>
</owl-carousel-o> -->