<div class="container absolute top-0 start-1/2 -translate-x-1/2 h-screen flex justify-center items-center">
  <div class="text-center  py-15">
    <i class="fa-solid fa-heart text-9xl mb-3 text-[#d1d5db]"></i>
    <p class="text-4xl font-bold text-primary">Your {{title()}} is empty</p>
    <p class="text-gray-400 mt-4 mb-8">Looks like you haven't added anything to your {{title().toLowerCase()}} yet.
      Start exploring!
    </p>
    <a class="btn" routerLink="/products">Browse Products</a>
  </div>
</div>
