<section class="form">
  <h2>Register</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-input label="name" [control]="registerForm.get('name')" />
    <app-input label="email" type="email" [control]="registerForm.get('email')" />
    <app-input label="password" type="password" [control]="registerForm.get('password')" />
    <app-input label="rePassword" type="password" [control]="registerForm.get('rePassword')" />

    <app-button [isLoading]="isLoading">
      Register
    </app-button>
  </form>
</section>
