<section class="md:w-3/4 mx-auto">
  @if (products.length > 0) {
  <app-main-header title="Cart Shop" />

  <div class="mx-2 md:mx-6 bg-gray-200 p-4 md:p-6 rounded-lg">
    <div class="mb-4 flex flex-col sm:flex-row justify-between">
      <div class="text-lg sm:text-xl font-semibold">
        <div>
          Total Price: <span class="text-yellow-500">{{totalCartPrice | currency:'GBP'}}</span>
        </div>

        <div>
          total number of items: <span class="text-yellow-500">{{numOfCartItems}}</span>
        </div>
      </div>

      <button class="btn w-full sm:w-auto my-2 sm:my-0 self-end whitespace-nowrap"
        [routerLink]="['/address', cartId]">Check
        Out</button>
    </div>

    <div>
      @for (product of products; track product._id) {
      <app-list-card [product]="product.product" [count]="product.count" [price]="product.price"
        [hasChangeQuantity]="true" (changeQty)="onChangeQty($event)" (removeItem)="onRemoveItem($event)" />
      }
    </div>

    <div class="flex justify-center">
      <button class="btn-secondary text-lg font-semibold" (click)="onClearCart()">Clear You Cart</button>
    </div>
  </div>
  } @else if (!isLoadingService.isLoading() && isLoadingService.loadingFor() === 'cart' && products.length === 0) {
  <app-page-empty title="Cart" />
  }
</section>
