<section class="form">
  <h2>Reset Your Password</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    @switch (currentStep()) {
    @case (1) {
    <app-input label="email" type="email" [control]="forgotPasswordForm.get('email')" />
    }
    @case (2) {
    <app-input label="code" [control]="forgotPasswordForm.get('resetCode')" />
    }
    @case (3) {
    <app-input label="email" type="email" [control]="forgotPasswordForm.get('email')" />
    <app-input label="new Password" type="password" [control]="forgotPasswordForm.get('newPassword')" />
    }
    }

    <app-button [isLoading]="isLoading">
      @if (currentStep() === 3) {
      Reset Password
      } @else {
      Verify
      }
    </app-button>
  </form>
</section>
